<div class="row user-card-row">
    <div class="col user-card-col" >
        <div class="card mb-3 fr-box">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="download.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" href="/users/{{user_id}}">{{users.diaplay_name}}test</h5>
                        <div class="text-box col-5">
                        <p class="card-text">Hello! My name is Sue{{display_name}}.<br>I am Learning French!<br>I can teach you English.</p>
                        </div>
                        <p class="card-text"><small class="text-muted">Click here to add me to your friends list!</small></p>
                        <a class="go-chat" href="/chat" role="button">Go Chat!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row user-card-row">
    <div class="col user-card-col" >
        <div class="card mb-3 fr-box">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="rock.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" href="/users/{{user_id}}">{{display_name}}</h5>
                        <div class="text-box col-5">
                        <p class="card-text">Hello! My name is John{{display_name}}.<br>I am Learning Russian!<br>I can teach you Spanish.</p>
                        </div>
                        <p class="card-text"><small class="text-muted">Click here to add me to your friends list!</small></p>
                        <a class="go-chat" href="/chat" role="button">Go Chat!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/start-chat.js"></script>